# Visual Studio's temp files:
FValidator.sdf
FValidator.sln.cache
OTFontFileVal/OTFontFileVal.sdf
WinVerifyTrustAPI/WinVerifyTrustAPI.sdf
*/obj/
*/bin/
*.pdb
*.v12.suo
OTFontFileVal/OTFontFileVal.ValStrings.resx
OTFontFileVal/atoms.cs
NewHelp/*
bin/*.XML
bin/*.pdb
# Mono's
bin/*.mdb
*.exe
bin/Compat.dll
bin/Glyph.dll
bin/GMath.dll
bin/OTFontFile.dll
bin/OTFontFileVal.dll
bin/ValCommon.dll

# Mac
.DS_Store

# github/gitignore Global/Xcode.gitignore
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
# don't ignore build folder -- used in this repo for app distribution
# build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
/*.gcno
